In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("CarDataFrame.csv")

In [3]:
dataframe.head()

,Unnamed: 0,Title,Useable Battery,0 - 100,Top Speed,Range,Efficiency,Fastcharge,Price in Germany,Price in Netherlands,Price in UK
0,0,Mini Cooper SE,49 kwh,6.7 sec,170 km/h,310 km,158 Wh/km,440 km/h,"€36,900","* €40,000","£34,500"
1,1,Mini Cooper E,37 kwh,7.3 sec,160 km/h,235 km,157 Wh/km,360 km/h,"* €33,000","* €35,000","£30,000"
2,2,BMW iX1 eDrive20,64.7 kwh,8.3 sec,170 km/h,385 km,168 Wh/km,550 km/h,"€47,900","* €50,000","£44,560"
3,3,Mini Countryman SE ALL4,64.7 kwh,5.6 sec,180 km/h,370 km,175 Wh/km,530 km/h,"* €50,000","* €53,000","£47,180"
4,4,Mini Countryman E,64.7 kwh,8.6 sec,170 km/h,380 km,170 Wh/km,550 km/h,"* €43,500","* €46,000","£42,080"

In [4]:
dataframe.tail()

,Unnamed: 0,Title,Useable Battery,0 - 100,Top Speed,Range,Efficiency,Fastcharge,Price in Germany,Price in Netherlands,Price in UK
360,360,Tesla Model Y Performance,75 kwh,3.7 sec,250 km/h,415 km,181 Wh/km,640 km/h,"€63,667","€60,993","£59,990"
361,361,Audi Q4 e-tron 35,52 kwh,9.0 sec,160 km/h,285 km,182 Wh/km,360 km/h,NaN,"€52,105",NaN
362,362,Renault Zoe ZE50 R110,52 kwh,11.4 sec,135 km/h,315 km,165 Wh/km,230 km/h,"€36,840","€34,895",NaN
363,363,Audi e-tron GT RS,85 kwh,3.3 sec,250 km/h,405 km,210 Wh/km,1000 km/h,"€146,050","€154,835","£119,000"
364,364,Lucid Air Dream Edition P,118 kwh,2.7 sec,270 km/h,665 km,177 Wh/km,840 km/h,"€218,000","€222,000",NaN

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            365 non-null    int64
 1   Title                 365 non-null    object
 2   Useable Battery       365 non-null    object
 3   0 - 100               365 non-null    object
 4   Top Speed             365 non-null    object
 5   Range                 365 non-null    object
 6   Efficiency            365 non-null    object
 7   Fastcharge            365 non-null    object
 8   Price in Germany      326 non-null    object
 9   Price in Netherlands  312 non-null    object
 10  Price in UK           229 non-null    object
dtypes: int64(1), object(10)
memory usage: 31.5+ KB